.row {
  display: flex;
  display: grid;
  /* grid-template-columns: 240px 240px 240px 240px 240px 240px; */
  grid-template-columns: repeat(20, 240px);
  grid-template-rows: 300px 600px;

  /* grid-column: 2/6;
  grid-row: 2/3; */

  gap: 1rem;
  overflow: hidden;
  position: relative;
}
